[submodule "life/today-learning"]
	path = life/today-learning
	url = git@github.com:dennyzhang/today-learning.git
[submodule "jenkins/challenges-cloudformation-jenkins"]
	path = jenkins/challenges-cloudformation-jenkins
	url = git@github.com:dennyzhang/challenges-cloudformation-jenkins.git
